.fieldsets {
    display: flex;
    gap: 20px;
}

#map {
    position: relative;
    width: 1744px;
    height: 1125px;
    transform-origin: top left;
}

.city {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px;
  opacity: 0.6;
  background: blue;
  position: absolute;
  transform: translate(var(--x), var(--y));
  z-index: 1;
  text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.selected {
    outline: 5px dashed orange;
}

.route-space {
    opacity: 0.6;
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: -18px;
    left: -37px;
    width: 54px;
    height: 16px;
    transform: translate(var(--x), var(--y)) rotate(var(--a));
}

.route-space.tunnel {
    outline: 5px dashed purple;
}

.route-space.locomotive {
    outline: 5px dashed white;
}