.fieldsets {
    display: flex;
    gap: 20px;
}

#map {
    position: relative;
    transform-origin: top left;
}

.city {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px;
  opacity: 0.6;
  background: blue;
  position: absolute;
  transform: translate(var(--x), var(--y));
  z-index: 1;
  text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.city.virtual-city {
    display: none;
}

.selected {
    outline: 5px dashed lightgreen;
}

.selected-other-route {
    outline: 5px dashed orange;
}

.route-space {
    --text-shadow-color: gray;

    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: absolute;
    top: -18px;
    left: -37px;
    width: 54px;
    height: 16px;
    transform: translate(var(--x), var(--y)) rotate(var(--a));
    color: black;
    text-align: center;
    text-shadow: var(--text-shadow-color) 3px 0 0,
        var(--text-shadow-color) 2.83487px 0.981584px 0,
        var(--text-shadow-color) 2.35766px 1.85511px 0,
        var(--text-shadow-color) 1.62091px 2.52441px 0,
        var(--text-shadow-color) 0.705713px 2.91581px 0,
        var(--text-shadow-color) -0.287171px 2.98622px 0,
        var(--text-shadow-color) -1.24844px 2.72789px 0,
        var(--text-shadow-color) -2.07227px 2.16926px 0,
        var(--text-shadow-color) -2.66798px 1.37182px 0,
        var(--text-shadow-color) -2.96998px 0.42336px 0,
        var(--text-shadow-color) -2.94502px -0.571704px 0,
        var(--text-shadow-color) -2.59586px -1.50383px 0,
        var(--text-shadow-color) -1.96093px -2.27041px 0,
        var(--text-shadow-color) -1.11013px -2.78704px 0,
        var(--text-shadow-color) -0.137119px -2.99686px 0,
        var(--text-shadow-color) 0.850987px -2.87677px 0,
        var(--text-shadow-color) 1.74541px -2.43999px 0,
        var(--text-shadow-color) 2.44769px -1.73459px 0,
        var(--text-shadow-color) 2.88051px -0.838247px 0;
    overflow: hidden;
    font-weight: bold;
}

.route-space[data-color="TRACKBED"] {
    --text-shadow-color: saddlebrown;
    color: white;
}

.route-space[data-color="GRAY"] {
    --text-shadow-color: #c5c4c7;
}

.route-space[data-color="PINK"] {
    --text-shadow-color: #c58fc4;
}

.route-space[data-color="WHITE"] {
    --text-shadow-color: #f6f6f6;
}

.route-space[data-color="BLUE"] {
    --text-shadow-color: #06a0dc;
}

.route-space[data-color="YELLOW"] {
    --text-shadow-color: #fce744;
}

.route-space[data-color="ORANGE"] {
    --text-shadow-color: #da7e30;
}

.route-space[data-color="BLACK"] {
    --text-shadow-color: #203734;
    color: white;
}

.route-space[data-color="RED"] {
    --text-shadow-color: red;
}

.route-space[data-color="GREEN"] {
    --text-shadow-color: green;
}

.route-space.tunnel {
    outline: 5px dashed purple;
}

.route-space.tunnel.selected {
    outline: 5px dashed red;
}

.route-space.locomotive {
    outline: 5px dashed white;
}
.route-space.locomotive.selected {
    outline: 5px dashed gold;
}

.route-space.mountain {
    box-shadow: 0 0 0 5px brown;
}

.route-space.mountain.selected {
    box-shadow: 0 0 0 5px orange;
}

input[type="number"] {
    width: 45px;
}
