
#train-car-deck {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    z-index: 7;

    .stock {
        position: relative;
        width: 272px;
        height: 166px;
    }

    .hidden-pile {
        position: relative;   
        display: flex;
        height: 192px;
        margin-bottom: -20px;
        
        .deck-level {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            background-repeat: no-repeat;
            background-position: center;
        }

        #train-car-deck-level {
            @for $i from 1 through 10 {
                &[data-level="#{$i}"] {
                    background-image: url('img/deck-cardLevel-#{$i}0.png');
                }
            }
        }

        #destination-deck-level {
            @for $i from 1 through 10 {
                &[data-level="#{$i}"] {
                    background-image: url('img/deck-destiLevel-#{$i}0.png');
                }
            }
        }

        .button {
            display: none;
            flex: 1;
            border: 3px dashed white;
            color: white;
            font-size: 400%;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px black;
            z-index: 1;
        }

        .button {
            &.left-radius {
                border-radius: 10px 0 0 10px;
            }
            &.right-radius {
                border-radius: 0 10px 10px 0;
            }
        }

        &.buttonselection.selectable .button {
            display: flex;
            cursor: pointer;
        }

        &.buttonselection.selectable .button.hidden {
            visibility: hidden;
            pointer-events: none;
            cursor: default;
        }

        &:not(.buttonselection).selectable {
            cursor: pointer;
        }
    }

    #visible-train-cards {
        transform-origin: 0 0;
        transform: scale(0.9);
        margin-bottom: -90px;
        margin-left: 10px;
        z-index: 1;
    }

    #destination-deck-hidden-pile {
        margin-top: 40px;

        &.top {
            margin-bottom: 40px;
            margin-top: -20px;
        }
    }
}

.gauge {
    width: 50px;
    height: 158px;
    position: absolute;
    left: 0;
    top: 10px;

    .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-position: bottom;
    }

    &.train-car {
        background-image: url('img/gauge-train-car-empty.png');

        .inner {
            background-image: url('img/gauge-train-car-full.png');
        }
    }

    &.destination {
        background-image: url('img/gauge-destination-empty.png');

        .inner {
            background-image: url('img/gauge-destination-full.png');
        }
    }
}

.animated-destination-card {
    position: absolute;
    left: 0px; 
    width: 250px; 
    height: 161px; 
    background-image: url("img/deck-destiLevel-10.png");
    border-radius: 6px;
    box-shadow: 0 0 8px 1px black;
    pointer-events: none;
    transform-origin: center center;
    transition: transform 0.5s;
}

.highlight-locomotive {
    filter: unset !important; // we ignore disabled effect during 3 locomotives animation
    animation: locomotives-animation 1s 1 forwards ease-in-out;
}

@keyframes locomotives-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% { 
    transform: scale(1);
  }
}