
#train-car-deck {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;

    .stock {
        width: 272px;
        height: 178px;
    }

    .hidden-pile {
        position: relative;   
        display: flex;
        
        .deck-level {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }

        #train-car-deck-level {
            @for $i from 1 through 10 {
                &[data-level="#{$i}"] {
                    background-image: url('img/deck-cardLevel-#{$i}0.png');
                }
            }
        }

        #destination-deck-level {
            @for $i from 1 through 10 {
                &[data-level="#{$i}"] {
                    background-image: url('img/deck-destiLevel-#{$i}0.png');
                }
            }
        }

        .button {
            display: none;
            flex: 1;
            border: 3px dashed white;
            color: white;
            font-size: 400%;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px black;
            z-index: 1;
        }

        .button {
            &.left-radius {
                border-radius: 10px 0 0 10px;
            }
            &.right-radius {
                border-radius: 0 10px 10px 0;
            }
        }

        &.selectable .button {
            display: flex;
            cursor: pointer;
        }

        &.selectable .button.hidden {
            visibility: hidden;
            pointer-events: none;
            cursor: default;
        }
    }

    #visible-train-cards {
        transform-origin: 0 0;
        transform: scale(0.9);
        margin-bottom: -90px;
    }
}

.gauge {
    width: 50px;
    height: 158px;
    position: absolute;
    right: 0;
    top: 10px;

    .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-position: bottom;
    }

    &.train-car {
        background-image: url('img/gauge-train-car-empty.png');

        .inner {
            background-image: url('img/gauge-train-car-full.png');
        }
    }

    &.destination {
        background-image: url('img/gauge-destination-empty.png');

        .inner {
            background-image: url('img/gauge-destination-full.png');
        }
    }
}