@charset "UTF-8";
.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}

#board {
  width: 1420px;
  height: 900px;
  background: url("img/board.jpg");
}

.point-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 50%;
  background-image: url("img/points.png");
  background-size: auto 100%;
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}
.point-marker.color-blind::after {
  font-size: 120%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -4px;
}
.point-marker.color-blind[data-player-no="1"]::after {
  content: "●";
}
.point-marker.color-blind[data-player-no="2"]::after {
  content: "▲";
}
.point-marker.color-blind[data-player-no="3"]::after {
  content: "■";
}
.point-marker.color-blind[data-player-no="4"]::after {
  content: "◆";
}
.point-marker.color-blind[data-player-no="5"]::after {
  content: "★";
}

.route {
  display: inline-block;
  border: 3px solid lightgray;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  pointer-events: none;
}
.route.selectable {
  border-color: black;
  pointer-events: all;
}
.route.space {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 4px;
  z-index: 5;
}

#train-car-deck {
  display: flex;
}
#train-car-deck .stock {
  width: 272px;
  height: 178px;
}
#train-car-deck .hidden-pile {
  background: gray;
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  background-position: 0% 0%;
}
#train-car-deck .hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 400%;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}
#train-car-deck .hidden-pile .button.left-radius {
  border-radius: 10px 0 0 10px;
}
#train-car-deck .hidden-pile .button.right-radius {
  border-radius: 0 10px 10px 0;
}
#train-car-deck .hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}
#train-car-deck .hidden-pile.selectable .button.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

#destination-deck .hidden {
  display: none;
}

.destination-selection {
  border: 4px solid #00c2c2;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
}

.stockitem {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}
