@charset "UTF-8";
.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}

#board {
  position: relative;
  width: 1650px;
  height: 1064px;
  background: url("img/map.jpg");
}
#board .side {
  position: absolute;
  pointer-events: none;
}
#board .side.left {
  background: url("img/border-map-left.png");
  width: 9px;
  left: 0;
  top: 180px;
  bottom: 180px;
}
#board .side.right {
  background: url("img/border-map-right.png");
  width: 8px;
  right: 0;
  top: 180px;
  bottom: 180px;
}
#board .side.top {
  background: url("img/border-map-top.png");
  height: 8px;
  left: 180px;
  right: 180px;
  top: 0;
}
#board .side.bottom {
  background: url("img/border-map-bottom.png");
  height: 9px;
  left: 180px;
  right: 180px;
  bottom: 0;
}
#board .corner {
  position: absolute;
  pointer-events: none;
  width: 180px;
  height: 180px;
}
#board .corner.top-left {
  background: url("img/border-map-corner-top-left.png");
  left: 0;
  top: 0;
}
#board .corner.top-right {
  background: url("img/border-map-corner-top-right.png");
  right: 0;
  top: 0;
}
#board .corner.bottom-left {
  background: url("img/border-map-corner-bottom-left.png");
  left: 0;
  bottom: 0;
}
#board .corner.bottom-right {
  background: url("img/border-map-corner-bottom-right.png");
  right: 0;
  bottom: 0;
}
#board .illustration {
  position: absolute;
  pointer-events: none;
  background: url("img/border-map-illustration.png");
  left: 0;
  bottom: 0;
  width: 258px;
  height: 206px;
}

/*.point-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50%;
    background-image: url('img/points.png');
    background-size: auto 100%;   
    transition: transform 0.5s, opacity 0.5s; 
    pointer-events: none;

    &.color-blind {
      &::after {
        font-size: 120%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -4px;
      }

      &[data-player-no="1"]::after {
        content: '●'; // circle
      }

      &[data-player-no="2"]::after {
        content: '▲'; // triangle
      }

      &[data-player-no="3"]::after {
        content: '■'; // square
      }

      &[data-player-no="4"]::after {
        content: '◆'; // diamond
      }

      &[data-player-no="5"]::after {
        content: '★'; // star
      }
    }
}*/
.route {
  display: inline-block;
  border: 3px solid lightgray;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  pointer-events: none;
}
.route.selectable {
  border-color: black;
  pointer-events: all;
}
.route.space {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 5px;
  z-index: 5;
}

#train-car-deck {
  display: flex;
}
#train-car-deck .stock {
  width: 272px;
  height: 178px;
}
#train-car-deck .hidden-pile {
  background: gray;
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  background-position: 0% 0%;
}
#train-car-deck .hidden-pile .button {
  display: none;
  flex: 1;
  border: 3px dashed white;
  color: white;
  font-size: 400%;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}
#train-car-deck .hidden-pile .button.left-radius {
  border-radius: 10px 0 0 10px;
}
#train-car-deck .hidden-pile .button.right-radius {
  border-radius: 0 10px 10px 0;
}
#train-car-deck .hidden-pile.selectable .button {
  display: flex;
  cursor: pointer;
}
#train-car-deck .hidden-pile.selectable .button.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

#destination-deck .hidden {
  display: none;
}

#destination-stock .stockitem.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-selected.png");
}

.player-table-destinations .stockitem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.player-table-destinations .stockitem.todo::after {
  background: url("img/destination-todo.png");
}
.player-table-destinations .stockitem.done::after {
  background: url("img/destination-done.png");
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
}

.stockitem {
  border-radius: 6px;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}
