#map {
    background-image: url('./map.jpg');
}

.illustration {
    background-image: url('./border-map-illustration.png');    
    left: 0;
    top: 150px;
    width: 225px;
    height: 375px;
}

.illustration[data-illustration="1"] { background-image: url('./border-map-illustration-1.png'); }
.illustration[data-illustration="2"] { background-image: url('./border-map-illustration-2.png'); }
.illustration[data-illustration="3"] { background-image: url('./border-map-illustration-3.png'); }