#map {
    background-image: url('./map.webp');
}

.city-marker {
    width: 48px;
    height: 48px;
    background-image: url('./city-markers-icons.webp');
    background-size: 600% 100%;
    background-repeat: no-repeat;
}

.city-marker[data-player-color="0056aa"] {
    background-position: 0% 0%;
}

.city-marker[data-player-color="41a62a"] {
    background-position: 20% 0%;
}

.city-marker[data-player-color="af0ac2"] {
    background-position: 40% 0%;
}

.city-marker[data-player-color="e3001a"] {
    background-position: 60% 0%;
}

.city-marker[data-player-color="ffed00"] {
    background-position: 80% 0%;
}

.city-marker[data-player-color="ffffff"] {
    background-position: 100% 0%;
}

#city-markers .city-marker {
    position: absolute;
    left: -24px;
    top: -24px;
    z-index: 4;
}

.icon.city-marker {
    width: 32px;
    height: 32px;
    position: relative;
    flex-shrink: 0;
}
