@import 'player-destinations';
@import 'player-train-cars';

.player-table {
    display: flex;
    background: #FFFFFF80;
    z-index: 25; // so new train car cards animations are over the map
    
    .player-table-train-cars {
        flex: 1;
    }

    &.left {
        flex-direction: column-reverse;
    }
}