@import 'player-destinations';
@import 'player-train-cars';

.player-table {
    display: grid;
    background: #FFFFFF80;

    &:not(.left) {
        grid-template-columns: 270px auto;

        &.double-column-destinations {
            grid-template-columns: 305px auto;
        }

    }

    &.left {
        grid-template-rows: 270px auto;

        &.double-column-destinations {
            grid-template-rows: 270px auto;
        }

        .player-table-destinations {
            order: 1;
        }
    }
}