.player-table-train-cars {
    display: flex;
    justify-content: center;
    min-height: 335px;

    .train-car-group {
        position: relative;
        left: 0px; 
        width: 170px; 
        height: 260px;
        margin: 0 -20px;
        transform-origin: top center;
        user-select: none;

        &[draggable="true"] {
            cursor: pointer;
        }

        .train-car-group-counter {
            width: 100%;
            text-align: center;
            font-size: 600%;
            color: white;
            -webkit-text-stroke: 3px black;
            position: relative;
            z-index: 1;
            font-weight: bold;
            margin-top: 15px;
            pointer-events: none;
        }

        .train-car-cards {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px; 
            height: 161px;
            pointer-events: none;
            transform-origin: center center;
            transform: rotate(90deg) translate(48px, 41px);
        }

        .train-car-card {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px; 
            height: 161px; 
            background-image: url("img/train-cards.jpg");
            border-radius: 6px;
            box-shadow: 0 0 8px 1px black;
            transform-origin: center center;
        }
    }
}