@import 'player-destinations';
@import 'player-train-cars';

.player-table {
    display: flex;
    background: #FFFFFF80;

    .player-table-destinations {
        width: 270px;
    }
    &.double-column-destinations {
        .player-table-destinations {
            width: 305px;
        }
    }
    
    .player-table-train-cars {
        flex: 1;
    }

    &.left {
        flex-direction: column-reverse;
    }
}