#score {
    display: none;
    justify-content: center;
    margin: 10px;

    #table-wrapper {
        background: url('img/score-background.jpg');
        background-size: 100% 100%;
        padding: 5px;

        table {
            border: 2px solid #FFFFFF80;

            tr {
                height: 27px;

                td {
                    position: relative;
                    border: 2px solid #FFFFFF80;
                    text-align: center;

                    &.player-name {
                        width: 170px;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        position: relative;

                        .bonus-card-icons {
                            position: absolute;
                            right: 0;
                            z-index: 25;
                            display: flex;
                        }
                    }

                    &.destinations {
                        width: 100px;

                        .icons-grid {
                            pointer-events: none;
                            display: grid;
                            grid-template-columns: repeat(3, auto);
                            grid-template-rows: 25px;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;

                                &.destination-card:not(.icon) {
                                    background-size: auto 90%;
                                    width: 30px;
                                }
                            }

                            .hidden {
                                visibility: hidden;
                            }
                        }
                    }

                    &.train {
                        position: relative;
                        overflow: hidden;
                        width: 300px;

                        .train-image {
                            position: absolute;
                            top: 0;
                            right: 100%;
                            background: url('img/score-trains.png');
                            width: 556px;
                            height: 20px;
                            transition: right 0.5s;

                            &[data-player-color="e3001a"] {
                              background-position: 0% 100%;
                            }
                        
                            &[data-player-color="41a62a"] {
                              background-position: 0% 50%;
                            }
                        
                            &[data-player-color="0056aa"] {
                              background-position: 0% 25%;
                            }
                        
                            &[data-player-color="ffed00"] {
                              background-position: 0% 0%;
                            }
                        
                            &[data-player-color="af0ac2"] {
                              background-position: 0% 75%;
                            }
                        }
                    }

                    &.total {
                        font-weight: bold;
                        color: white;
                        width: 60px;
                    }
                }

                &.highlight {
                    td {
                        color: black;
                        position: relative;
                        z-index: 2;  
                        
                        &.player-name {
                            z-index: 3;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            z-index: -1;
                            top: 0;
                            bottom: 0;
                            background: url('img/score-highlight.png');
                            background-size: auto 100%;
                        }

                        &.player-name {    
                            &::before {
                                left: -28px;
                                right: -8px;
                                background-position: 0% 50%;
                            }
                        }
                        
                        &.total {
                            &::before {
                                left: -8px;
                                right: -28px;
                                background-position: 100% 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bonus-card {
    width: 250px;
    height: 161px;

    &.globetrotter {
        background: url('img/bonus-card-globetrotter.png');            
    }

    &.longest-path {
        background: url('img/bonus-card-longest-path.png');            
    }

    &.bonus-card-icon {
        transform-origin: center center;
        margin: -90px -106px;
        animation: bonus-card-animation 1.5s 1 forwards ease-in-out;
    }
}

@keyframes bonus-card-animation {
  0% {
    transform: scale(0.15);
  }
  50% {
    transform: scale(1);
  }
  100% { 
    transform: scale(0.15);
  }
}