#score {
    display: none;
    justify-content: center;
    margin: 10px;

    #table-wrapper {
        background: url('img/score-background.jpg');
        background-size: 100% 100%;
        padding: 5px;

        table {
            border: 2px solid #FFFFFF80;

            tr {
                height: 27px;

                td {
                    border: 2px solid #FFFFFF80;
                    text-align: center;

                    &.player-name {
                        width: 170px;
                        font-weight: bold;
                        text-overflow: ellipsis;
                    }

                    &.destinations {
                        width: 100px;

                        .icons-grid {
                            display: grid;
                            grid-template-columns: repeat(3, auto);
                            grid-template-rows: 25px;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;

                                &.destination-card {
                                    background-size: auto 90%;
                                    width: 30px;
                                }
                            }
                        }
                    }

                    &.train {
                        position: relative;
                        overflow: hidden;
                        width: 300px;

                        .train-image {
                            position: absolute;
                            top: 0;
                            right: 100%;
                            background: url('img/score-trains.png');
                            width: 556px;
                            height: 20px;
                            transition: right 0.5s;

                            &[data-player-color="ff0000"] {
                              background-position: 0% 100%;
                            }
                        
                            &[data-player-color="008000"] {
                              background-position: 0% 50%;
                            }
                        
                            &[data-player-color="0000ff"] {
                              background-position: 0% 25%;
                            }
                        
                            &[data-player-color="ffa500"] {
                              background-position: 0% 0%;
                            }
                        
                            &[data-player-color="982fff"] {
                              background-position: 0% 75%;
                            }
                        }
                    }

                    &.total {
                        font-weight: bold;
                        color: white;
                        width: 60px;
                    }
                }

                &.highlight {
                    td {
                        color: black;
                        position: relative;
                        z-index: 2;  

                        &::before {
                            position: absolute;
                            content: '';
                            z-index: -1;
                            top: 0;
                            bottom: 0;
                            background: url('img/score-highlight.png');
                            background-size: auto 100%;
                        }

                        &.player-name {    
                            &::before {
                                left: -28px;
                                right: -8px;
                                background-position: 0% 50%;
                            }
                        }
                        
                        &.total {
                            &::before {
                                left: -8px;
                                right: -28px;
                                background-position: 100% 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}