#map-zoom-wrapper {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;

  #map-zoom {
    //flex: 1;
    max-width: 100%; //calc(100% - 250px);

    &.scrollable {
      overflow: auto;
    }
  }

  #zoom-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background: url('img/zoom.png');
    background-position: 66.66% 50%;

    &:hover {
      background-position: 100% 50%;

      &.zoomed {
        background-position: 33.33% 50%;
      }
    }
    &.zoomed {
      background-position: 0% 50%;
    }
  }
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
  display: none;
}
    
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#resized {  
  transform-origin: top left;
}

#map-and-deck {
  display: grid;
  grid-template-columns: auto 250px;
  transform-origin: top left;
}

#map-and-borders {
  position: relative;  

  .side {
    position: absolute;
    pointer-events: none;
    z-index: 6;
    background-size: 100% 100%;

    &.left {
      background-image: url('img/border-map-left.png');
      width: 9px;
      //height: 876px;
      left: 0;
      top: 180px;
      bottom: 180px;
    }

    &.right {
      background-image: url('img/border-map-right.png');
      width: 8px;
      //height: 876px;
      right: 0;
      top: 180px;
      bottom: 180px;
    }

    &.top {
      background-image: url('img/border-map-top.png');
      //width: 1541px;
      height: 8px;
      left: 180px;
      right: 180px;
      top: 0;
    }

    &.bottom {
      background-image: url('img/border-map-bottom.png');
      //width: 1541px;
      height: 9px;
      left: 180px;
      right: 180px;
      bottom: 0;
    }
  }

  .corner {
    position: absolute;
    pointer-events: none;
    width: 180px;
    height: 180px;
    z-index: 6;

    &.top-left {
      background: url('img/border-map-corner-top-left.png');
      left: 0;
      top: 0;
    }

    &.top-right {
      background: url('img/border-map-corner-top-right.png');
      right: 0;
      top: 0;
    }

    &.bottom-left {
      background: url('img/border-map-corner-bottom-left.png');
      left: 0;
      bottom: 0;
    }

    &.bottom-right {
      background: url('img/border-map-corner-bottom-right.png');
      right: 0;
      bottom: 0;
    }
  }

  .illustration {
    position: absolute;
    pointer-events: none;
    background: url('img/border-map-illustration.png');
    left: 0;
    bottom: 0;
    width: 258px;
    height: 206px;
    z-index: 4;
  }
}

#map-destination-highlight-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  background: #00000099;
  opacity: 0;
  transition: opacity 0.2s;

  &[data-visible="true"] {
    opacity: 1;
  }
}

#map-zoom {
  position: relative;
}

#map {
    position: relative;
    width: 1744px;//1650
    height: 1125px;
    background: url('img/map.jpg');
    transform-origin: top left;

    /*&.drag-over {
      cursor: crosshair;
    }*/
}

/*.point-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50%;
    background-image: url('img/points.png');
    background-size: auto 100%;   
    transition: transform 0.5s, opacity 0.5s; 
    pointer-events: none;
    
    &.color-blind {
      &::after {
        font-size: 120%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -4px;
      }

      &[data-player-no="1"]::after {
        content: '●'; // circle
      }

      &[data-player-no="2"]::after {
        content: '▲'; // triangle
      }

      &[data-player-no="3"]::after {
        content: '■'; // square
      }

      &[data-player-no="4"]::after {
        content: '◆'; // diamond
      }

      &[data-player-no="5"]::after {
        content: '★'; // star
      }
    }
}*/

.city {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;

  &[data-selected-destination="true"] {
    background: rgba(0, 0, 200, 0.3);
    opacity: 1;
  }

  &[data-hovered="true"] {
    &[data-valid="true"] {
      background: rgba(0, 200, 0, 0.3);
      opacity: 1;
    }
    &[data-valid="false"] {
      background: rgba(200, 0, 0, 0.3);
      opacity: 1;
    }
  }

  &[data-to-connect="true"] {
    position: relative;
    background: rgba(0, 200, 0, 0.3);
    opacity: 1;

    &:not([data-selected="true"]):not([data-highlight="true"]) {
      width: 38px;
      height: 38px;
      margin: -19px;
    }
  }

  &[data-selectable="true"] {
    position: relative;
    z-index: 8;
    background: rgba(0, 0, 200, 0.3);
    opacity: 1;

    &:not([data-selected="true"]):not([data-highlight="true"]) {
      width: 38px;
      height: 38px;
      margin: -19px;
    }
  }
  &[data-selected="true"] {
    position: relative;
    z-index: 8;
    background: rgba(0, 0, 200, 0.6);
    opacity: 1;
  }
  &[data-highlight="true"] {
    position: relative;
    z-index: 8;
    background: rgba(0, 200, 0, 0.6);
    opacity: 1;
  }
}

// TODO temp
.route {
  display: inline-block;
  border: 3px solid transparent;
  //border: 3px solid lightgray;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  //pointer-events: none;

  /*&.selectable {
    border-color: black;
    //pointer-events: all;
  }*/

  &.space {
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 5px;
    z-index: 5; // TODO TEMP
  }

  /*&.drag-over {
    box-shadow: 0 0 5px 5px white;
    background: gold;
  }*/
}

.wagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  margin-left: -7px;
  margin-top: -28px;
  background-size: 600%;

  @for $i from 0 through 35 {
    &.angle#{$i} {
        background-position: #{$i % 6 * 20%} #{floor($i / 6) * 20%};
    }
  }

  &[data-player-color="ff0000"] {
    background-image: url('img/wagons-red.png'), url('img/wagons-shadow.png');
  }

  &[data-player-color="008000"] {
    background-image: url('img/wagons-green.png'), url('img/wagons-shadow.png');
  }

  &[data-player-color="0000ff"] {
    background-image: url('img/wagons-blue.png'), url('img/wagons-shadow.png');
  }

  &[data-player-color="ffa500"] {
    background-image: url('img/wagons-yellow.png'), url('img/wagons-shadow.png');
  }

  &[data-player-color="982fff"] {
    background-image: url('img/wagons-purple.png'), url('img/wagons-shadow.png');
  }
}