#board {
    width: 1420px;
    height: 900px;
    background: url('img/board.jpg');
}

.point-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50%;
    background-image: url('img/points.png');
    background-size: auto 100%;   
    transition: transform 0.5s, opacity 0.5s; 
    pointer-events: none;
    
    &.color-blind {
      &::after {
        font-size: 120%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -4px;
      }

      &[data-player-no="1"]::after {
        content: '●'; // circle
      }

      &[data-player-no="2"]::after {
        content: '▲'; // triangle
      }

      &[data-player-no="3"]::after {
        content: '■'; // square
      }

      &[data-player-no="4"]::after {
        content: '◆'; // diamond
      }

      &[data-player-no="5"]::after {
        content: '★'; // star
      }
    }
}

// TODO temp
.route {
  display: inline-block;
  border: 3px solid lightgray;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  pointer-events: none;

  &.selectable {
    border-color: black;
    pointer-events: all;
  }
}