#destination-deck {
    .hidden {
        display: none;
    }
}

#destination-stock {
  .stockitem.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/destination-selected.png');
    box-shadow: 0 0 3px 3px #d9ffff;
    border-radius: 6px;
  }
}