.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  // font-family: 'goodgirl';

  .counter {
    flex: 1;
    display: flex;
    align-items: center;

    span {
      padding: 0 5px 0 5px;
    }
  }
}



.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/icons.png');
  background-size: auto 100%;

  &.train-car-card {
    background-position: #{0 * 100% / 1} 0%;
  }

  &.destination-card {
    background-position: #{1 * 100% / 1} 0%;
  }

  &.train {
    background-image: url('img/train-icons.png');

    &[data-player-color="ff0000"] {
      background-position: #{3 * 100% / 4} 0%;
    }

    &[data-player-color="008000"] {
      background-position: #{1 * 100% / 4} 0%;
    }

    &[data-player-color="0000ff"] {
      background-position: #{0 * 100% / 4} 0%;
    }

    &[data-player-color="ffa500"] {
      background-position: #{4 * 100% / 4} 0%;
    }

    &[data-player-color="982fff"] {
      background-position: #{2 * 100% / 4} 0%;
    }
  }
}