#score {
    display: none;
    justify-content: center;

    #table-wrapper {
        padding: 40px;
        background: url('img/score-background.png');
        background-size: 100% 100%;

        table {

            tbody {
                tr {
                    border-top: 1px solid white;
                }
            }

            td, th {
                &:not(:first-child) {
                    border-left: 1px solid white;
                }
            }

            tr {
                height: 40px;

                th {
                    text-align: center;
                    color: white;
                    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
                    padding: 8px;
                }

                td {
                    width: 100px;
                    text-align: center;

                    &:not(:first-child) {
                        font-size: 150%;
                        color: white;
                        text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
                    }

                    &.player-name {
                        width: 181px;
                        font-weight: bold;
                        text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
                        word-break: break-all;
                        font-size: 120%;
                    }

                    &.total {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}