@import 'playerboards';
@import 'map/map';
@import 'train-car-deck/train-car-deck';
@import 'destination-deck/destination-deck';
@import 'player-table/player-table';
@import 'score';

//$background: url('img/bg-wood.jpg');
$background: url('img/bg-pattern.jpg');

html {
    background: $background;
    background-repeat: repeat;
}

.mode_3d #game_play_area_background {
    background: $background;
    background-repeat: repeat;
}

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #900;
}

.stockitem {
    border-radius: 6px;
    
    &.disabled {
        filter: contrast(0.6);
        cursor: not-allowed;
    }
}