@import 'playerboards';
@import 'map/map';
@import 'train-car-deck/train-car-deck';
@import 'destination-deck/destination-deck';
@import 'player-table/player-table';

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #900;
}

.stockitem {
    border-radius: 6px;
    
    &.disabled {
        filter: contrast(0.6);
        cursor: not-allowed;
    }
}