.player-table-train-cars {
    display: flex;
    justify-content: center;
    overflow: hidden;

    &.new-card-animation {
        overflow: visible;
    }

    &.left {
        //flex-direction: column-reverse;
        flex-direction: column;

        .train-car-group {
            margin: -40px 0;
            width: 260px; 
            height: 170px;

            .train-car-group-counter {
                margin-top: unset;
                font-size: 450%;
            }

            .train-car-cards {
                transform: unset;
            }
        }
    }
}

@keyframes selected-card-animation {
    from {
        box-shadow: 0 0 5px 5px white;
    }
    to { 
        box-shadow: 0 0 10px 10px white;
    }
}

.train-car-group {
    position: relative;
    left: 0px; 
    width: 170px; 
    height: 260px;
    margin: 0 -20px;
    transform-origin: top center;
    user-select: none;

    &[draggable="true"] {
        cursor: pointer;
        touch-action: none; // so drag can be used on mobile
    }

    &.hide {
        display: none;
    }

    &.selected {
        .train-car-card {
            animation: selected-card-animation 1.5s 1 alternate ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    .train-car-group-counter {
        width: 100%;
        text-align: center;
        font-size: 600%;
        color: white;
        -webkit-text-stroke: 3px black;
        position: relative;
        z-index: 1;
        font-weight: bold;
        margin-top: 15px;
        pointer-events: none;
    }

    .train-car-cards {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px; 
        height: 161px;
        pointer-events: none;
        transform-origin: center center;
        transform: rotate(90deg) translate(48px, 41px);
    }

    &.drag {
        position: absolute;
        top: -1000px;
        left: -1000px;
        width: 190px; 
        height: 280px;
        padding-top: 10px;
        zoom: 0.5; //transform: scale(0.5); doesn't work but zoom does
    }
    
    &.disabled {
        filter: contrast(0.6);
        cursor: not-allowed;
    }
}