#map {
    background-image: url('./map.webp');
}

.wagon[data-player-color="-1"] {
    background-image: url('./wagons-bullet-train.png');
}




.remaining-bullet-train-car-counter {
    position: absolute;
    left: 770px;
    top: 560px;
    background: #00000066;
    padding: 10px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(2, 64px);
    justify-items: center;
    align-items: center;
    gap: 10px;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black, 0 0 4px black, 0 0 4px black;
    font-size: 48px;
    font-weight: bold;
}

.bullet-train-icon {
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;
    background-image: url('./wagons-bullet-train-icon.webp');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.bullet-train-positions {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 50px);
}

.bullet-train-positions>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.bullet-train-position-marker {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 2px #00000099;
    background-color: var(--player-color);
    flex-shrink: 0;
}